@using Project.Service.Interface
@using System.Globalization
@model Project.ViewModel.OrderDTO
@inject IStatusService statusService
@inject IOrderDetailService orderDetailService
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	var list = new SelectList(statusService.GetStatus(), "Id", "Name");
	var listOrderDetail = orderDetailService.GetOrderDetail(null, x => x.OrderId == Model.Id, null, "Product");
}

<div class="container">
	<div class="py-3 px-3" style="width:1240; ">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<input type="hidden" asp-for="ShipName" />
		<input type="hidden" asp-for="ShipEmail" />
		<input type="hidden" asp-for="ShipAddress" />
		<input type="hidden" asp-for="ShipPhoneNumber" />
		<input type="hidden" asp-for="OrderDate" />
		<div class="form-group">
			<label>Đơn hàng : #@Model.Id</label>
		</div>
		<hr />
		<h3 style="text-align:center">THÔNG TIN NGƯỜI MUA</h3>
		<br />
		<div class="row">
			<div class="col-6">
				<label>Họ tên khách:</label>
				<input type="text" asp-for="ShipName" class="form-control" disabled />
			</div>
			<div class="col-6">
				<label>Số điện thoại:</label>
				<input type="text" asp-for="ShipPhoneNumber" class="form-control" disabled />
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<label>Địa chỉ nhận:</label>
				<input type="text" asp-for="ShipAddress" class="form-control" disabled />
			</div>
			<div class="col-6">
				<label>Ngày tạo</label>
				<input type="text" asp-for="OrderDate" class="form-control" disabled />
			</div>
		</div>
		
		<hr />
		
	</div>
</div>
	

<h3 style="text-align:center">Thông tin sản phẩm đặt mua</h3>
<br />
<table class="table ">
	<thead>
		<tr>
			<th>STT</th>
			<th>Hình ảnh</th>
			<th>Tên sản phẩm</th>
			<th>Số lượng</th>
			<th>Đơn giá</th>
		</tr>
	</thead>
	<tbody>
		@{
			var i = 0;
			decimal total=0;
			foreach (var item in listOrderDetail)
			{
				 var c = item.Quantity * item.Price;
					<tr>
						<td>@(i + 1)</td>
						<td><img src="~/img/@item.Product.Thumb" width="80px" height="50px" /></td>
						<td>@item.Product.ProductName</td>
						<td>@item.Quantity</td>
						<td>@item.Price.ToString("N00", new CultureInfo("en-us")) VNĐ</td>
					</tr>
				i++;
				total += c;

			}
				<tr>
				<td colspan="4" style="text-align:right;font-weight: bold;font-size:20px">Tổng tiền:</td>
					<td style="text-align:left;font-weight: bold;font-size:20px">@total.ToString("N00", new CultureInfo("en-us")) VNĐ</td>
				</tr>
		}
	</tbody>
</table>
<a class=" btn btn-secondary " asp-action="ExportPDF" asp-controller="Order" asp-route-id="@Model.Id"> In hóa đơn</a>

