@using System.Globalization
@using Project.Service.Interface
@using System.Security.Claims
@model IEnumerable<Project.ViewModel.OrderDetailDTO>
@inject IOrderDetailService orderDetailService
@inject IOrderService orderService
@inject IUserService userService
@{
    ViewData["Title"] = "SuccessDelivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var list = orderDetailService.GetOrderDetail(null, null, null, includeProperties: "Order.User");
    var listUser = userService.GetUser();
    var listOrder = orderService.GetOrder(null, x => x.UserId == userId && x.StatusId==5, null, "Status");
}

<div class="table-responsive">
    <h2 class="body">Đơn hàng đã giao thành công</h2>
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>STT</th>

                <th>Ngày mua</th>
                <th>Trạng thái</th>
                <th>Tổng tiền</th>
                <th></th>

            </tr>
            @if (listOrder != null && listOrder.Any())
            {
                var ii = 1;
                foreach (var item in listOrder)
                {
                    
                    <tr id="trow_@item.Id">
                        <td>@ii</td>

                        <td>@item.OrderDate.ToString("dd/MM/yyyy")</td>
                        <td>
                            @item.Status.Name
                        </td>
                        <td>@item.UpdateAt</td>
                        <td>@item.EndAt</td>
                        <td>@item.ShipName</td>
                        @*<td>@item.Thanhtien</td>*@
                        <td id="texttd">
                            @if(item.EndAt < DateTime.Now){
                               
                                <span>Đã nhận đơn</span>
                            }
                            @if(item.EndAt > DateTime.Now){
                                <a class=" btn btn-success " asp-action="Details" asp-controller="MyProfile" asp-route-id="@item.Id">
                                    Yêu cầu trả hàng
                                </a>
                                <a href="#" data-id="@item.Id" data-id="@item.Id" data-name="@item.ShipName" data-order="@item.OrderDate"
                       data-address="@item.ShipAddress" data-email="@item.ShipEmail" data-phone="@item.ShipPhoneNumber" class="btn btn-danger btnDelete"><i class="bi bi-trash"></i>Đã nhận được hàng</a>
                            }
                           @* @if (item.StatusId == 5)
                            {
                                <a class=" btn btn-success " asp-action="Details" asp-controller="MyProfile" asp-route-id="@item.Id">
                                    Yêu cầu trả hàng
                                </a>
                                <a href="#" data-id="@item.Id" data-id="@item.Id" data-name="@item.ShipName" data-order="@item.OrderDate"
                       data-address="@item.ShipAddress" data-email="@item.ShipEmail" data-phone="@item.ShipPhoneNumber" class="btn btn-danger btnDelete"><i class="bi bi-trash"></i>Đã nhận được hàng</a>
                            }
                            else
                            {
                                <a class=" btn btn-success " asp-action="Details" asp-controller="MyProfile" asp-route-id="@item.Id">
                                    Xem chi tiết
                                </a>

                            }*@

                        </td>


                    </tr>
                    ii++;
                }
            }
            else
            {
                <tr>
                    <td colspan="6">Hiện không còn đơn hàng nào đã giao thành công!!</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<h3 style="text-align:center">Thông tin sản phẩm đặt mua</h3>
<br />

<div>
    @foreach (var item in Model)
    {
        @foreach (var a in list)
        {
            @if (item.OrderID == a.Order.Id)
            {
                @foreach (var b in listUser)
                {
                    @if (a.Order.ShipperId == b.Id)
                    {
                        <span>Tên người giao: @b.UserName</span>
                    }
                }
                break;
            }
        }
        break;
    }
</div>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>STT</th>
            <th>Hình ảnh</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>

        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            decimal total = 0;
            foreach (var item in Model)
            {
                var c = item.Quantity * item.Price;
                    <tr>
                        <td>@(i + 1)</td>
                        <td><img src="~/img/@item.Product.Thumb" width="80px" height="50px" /></td>
                        <td>@item.Product.ProductName</td>
                        <td>@item.Quantity</td>
                        <td>@item.Price.ToString("N00", new CultureInfo("en-us")) VNĐ</td>

                    </tr>
                i++;
                total += c;

            }
                <tr>
                    <td colspan="4" style="text-align:right;font-weight: bold;font-size:20px">Tổng tiền:</td>
                    <td style="text-align:left;font-weight: bold;font-size:20px">@total.ToString("N00", new CultureInfo("en-us")) VNĐ</td>
                </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".btnDelete").click(function () {
                debugger
                $("#texttd").text("Đã nhận đơn").show();
                    
                })
           
        });
    </script>
}

