@using Project.Service
@using Project.Service.Interface
@model IEnumerable<Project.ViewModel.OrderDTO>
@{
    ViewData["Title"] = "IndexDeliverer";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách đơn đang giao</h6>
    </div>
    <div class="card-body">
       
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã đơn</th>
                        <th>Tên khách hàng</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái Đơn</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model!= null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.Id</td>
                                <td id="txtName">@item.ShipName</td>
                                <td id="txtEmail"> @item.ShipEmail</td>
                                <td id="txtAddress">@item.ShipAddress</td>
                                <td id="txtPhone">@item.ShipPhoneNumber</td>
                                <td>
                                        @item.Status.Name
                                </td>
                                <td id="txtDate">
                                    @if (item.StatusId == 4)
                                    {
                                        <a class="btn btn-primary mx-2" data-id="@item.Id" data-name="@item.ShipName" data-order="@item.OrderDate"
                               data-address="@item.ShipAddress" data-email="@item.ShipEmail" data-phone="@item.ShipPhoneNumber"><i class="bi bi-pencil-square"></i> Giao thành công</a>

                                    }
                                </td>
                                <td align="center">
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id" asp-controller="Order"><i class="bi bi-pencil-square"></i>Chi tiết</a>

                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8">Hiện không có đơn hàng nào đang trong trạng thái giao</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
 </div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('tr .mx-2').click(function () {

                        var order = {
                            Id: $(this).data('id'),
                            OrderDate: $(this).data('order'),
                            ShipName: $(this).data('name'),
                            ShipAddress: $(this).data('address'),
                            ShipEmail: $(this).data('email'),
                            ShipPhoneNumber: $(this).data('phone'),
                            StatusId: 5
                        }
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Edit", "ShipperOrder")',
                            data: { order: order },

                            success: function (response) {
                                if (response.result) {
                                    Swal.fire(
                                        'Update!',
                                        'Xác nhận thành công.',
                                        'success'
                                    )
                                    setTimeout(() => location.href = '@Url.Action("IndexDeliverer", "ShipperOrder", "Admin")', 2000)
                                }
                                else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: "Có lỗi trong quá trình xử lý"
                                    })
                                }
                            }
                        })

                    
                
            })
        });
    </script>
}

