@model Project.ViewModel.ImportDTO
@{
    ViewData["Title"] = "DetailImport";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>DetailImport</h1>
<div class="form-row">
    <div class="form-group col-md-12">
      
            <div class="form-group col-md-6">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Tên người giao</label>
                    <input asp-for="Name" class="form-control" value="Name"/>                
                </div>
                <div class="form-group">
                    <label asp-for="CreatedDate" class="control-label">Ngày giao</label>
                    <input asp-for="CreatedDate" class="form-control" />                   
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label">Địa điểm</label>
                    <input asp-for="Address" class="form-control" />
                </div>
            </div>
            <div class="card-body">
                <a asp-action="CreateProduct" asp-controller="Import" asp-area="Admin" class="btn btn-success mb-4">Thêm sản phẩm vào phiếu nhập</a>
                <div class="mb-3">
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>

                          @*  @foreach (var item in list)
                            {

                                <tr>
                                    <td>
                                    </td>
                                    <td>@item.Name</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Price</td>
                                    <td><a href="" onclick="Delete('@item.Id')" class="btn btn-danger delete"><i class="fas fa-trash-alt"></i></a></td>
                                </tr>

                            }*@

                            @* @foreach (var item in Model.Data)
                            {
                            if (item.DeleteAt == null)
                            {
                            <tr>
                            <td>
                            <a asp-action="Index" asp-controller="Product" asp-area="Admin" asp-route-CategoryId="@item.Id">@item.CategoryName</a>
                            </td>


                            <td>@item.CreateAt.ToString("dd/MM/yyyy")</td>
                            <td>@item.UpdateAt?.ToString("dd/MM/yyyy")</td>
                            <td>@item.DeleteAt?.ToString("dd/MM/yyyy")</td>
                            <td>
                            <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-info"><i class="far fa-edit"></i></a>
                            <a href="" onclick="Delete('@item.Id')" class="btn btn-danger delete"><i class="fas fa-trash-alt"></i></a>
                            </td>
                            </tr>
                            }


                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo phiếu nhập" class="btn btn-primary" />
            </div>
        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



