
@using Project.Service.Interface
@inject ICategoryService categoryService
@{
    var listCategory = new SelectList(categoryService.GetCategory(), "Id", "CategoryName");
}
<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Song Lê </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assetsuser/images/favicon.ico" />

    <!-- CSS
    ============================================ -->

    <!-- Vendor CSS (Contain Bootstrap, Icon Fonts) -->
    <link rel="stylesheet" href="~/assetsuser/css/vendor/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assetsuser/css/vendor/Pe-icon-7-stroke.css" />

    <!-- Plugin CSS (Global Plugins Files) -->
    <link rel="stylesheet" href="~/assetsuser/css/plugins/animate.min.css">
    <link rel="stylesheet" href="~/assetsuser/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assetsuser/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assetsuser/css/plugins/nice-select.css">
    <link rel="stylesheet" href="~/assetsuser/css/plugins/magnific-popup.min.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/assetsuser/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>

    <div class="main-wrapper">

        <!-- Begin Main Header Area -->
        <header class="main-header_area position-relative">
            <div class="header-top border-bottom d-none d-md-block">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <div class="header-top-left">
                                <ul class="dropdown-wrap text-matterhorn">
                                    <li class="dropdown">
                                        <button class="btn btn-link " type="button" id="languageButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            VietNam
                                        </button>
                                       
                                    </li>
                                    <li class="dropdown">
                                        <button class="btn btn-link " type="button" id="currencyButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            VNĐ
                                        </button>
                                        
                                    </li>
                                    <li>
                                        HotLine:
                                        <a href="tel://3965410">092.552.597</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="header-top-right text-matterhorn">
                                <p class="shipping mb-0">Chào mừng bạn đến với cửa hàng của chúng tôi!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle py-5">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="header-middle-wrap">
                                <a href="index.html" class="header-logo">
                                    <img src="~/assetsuser/images/logo/songle.jpg" alt="Header Logo">
                                </a>
                                <div class="header-search-area d-none d-lg-block">
                                    <div  class="header-searchbox">
                                        
                                        <select class="nice-select select-search-category wide" aria-label="Default select example" id="filter-shop1" asp-items="@listCategory">
                                            <option value="">Sản phẩm của Danh mục</option>

                                        </select>
                                        <input class="input-field" type="text" placeholder="Tìm kiếm sản phẩm" id="searchString1" value="@ViewBag.SearchString1">
                                        <button class="btn btn-outline-whisper btn-primary-hover" type="submit" id="search1" ><i class="pe-7s-search"></i></button>
                                    </div>
                                </div>
                                <div class="header-right">
                                    <ul>
                                        <li class="dropdown d-none d-md-block">
                                            <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="pe-7s-users"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButton">
                                                <li>
                                                    <div>
                                                        <partial name="_LoginPartial" />
                                                    </div>  
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="d-none d-md-block">
                                            <a href="wishlist.html">
                                                <i class="pe-7s-like"></i>
                                            </a>
                                        </li>
                                        <li class="d-block d-lg-none">
                                            <a href="#searchBar" class="search-btn toolbar-btn">
                                                <i class="pe-7s-search"></i>
                                            </a>
                                        </li>
                                        <li class="minicart-wrap me-3 me-lg-0">
                                            <a class="minicart-btn " id="myCart" asp-action="Index" asp-controller="Cart">
                                                <i class="pe-7s-shopbag"></i>
                                                <span class="quantity" id="lbl_number_of_items_header">0</span>
                                            </a>
                                        </li>
                                        <li class="mobile-menu_wrap d-block d-lg-none">
                                            <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                                                <i class="pe-7s-menu"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-header header-sticky" data-bg-color="#a36336">
                <div class="container">
                    <div class="main-header_nav position-relative">
                        <div class="row align-items-center">
                            <div class="col-lg-12 d-none d-lg-block">
                                <div class="main-menu">
                                    <nav class="main-nav">
                                        <ul>
                                            <li class="drop-holder">
                                                <a asp-action="Index" asp-controller="Home">Trang chủ
                                                </a> 
                                            </li>
                                            <li>
                                                <a href="about.html">Giới thiệu</a>
                                            </li>
                                            <li class="megamenu-holder">
                                                <a asp-action="Product" asp-controller="Home">Sản phẩm
                                                </a>
                                            </li>
                                            <li class="drop-holder">
                                                <a asp-action="MyReview" asp-controller="Home">
                                                    Nhận xét khách hàng
                                                </a>                                             
                                            </li>
                                            <li class="drop-holder">
                                                <a asp-action="Index" asp-controller="Home">Tin tức  
                                                </a>
                                               
                                            </li>
                                            <li>
                                                <a asp-action="Index" asp-controller="Home">Liên hệ</a>
                                            </li>
                                            <li>
                                                <a asp-action="Index" asp-controller="Home">Nội dung</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="offcanvas-search_wrapper" id="searchBar">
                <div class="harmic-offcanvas-body">
                    <div class="container h-100">
                        <div class="offcanvas-search">
                            <div class="harmic-offcanvas-top">
                                <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                            </div>
                            <span class="searchbox-info">Start typing and press Enter to search</span>
                            <form action="#" class="hm-searchbox">
                                <input type="text" placeholder="Search">
                                <button class="search-btn" type="submit"><i class="pe-7s-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="global-overlay"></div>
        </header>
        <!-- Main Header Area End Here -->

        <!-- Begin Slider Area -->
        <div class="slider-area">

            <!-- Main Slider -->
            <div class="swiper-container main-slider swiper-arrow with-bg_white">
                <div class="swiper-wrapper">
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner bg-height" data-bg-image="assetsuser/images/slider/bg/bg1.jpg">    
                            <div class="parallax-img-wrap">
                                <div class="chilly">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.2">
                                            <img src="~/assetsuser/images/slider/inner-img/nhaong.jpg" alt="Inner Image" width="231px" height="210px" >
                                        </div>
                                    </div>
                                </div>
                                <div class="avocado">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.5">
                                            <img src="~/assetsuser/images/slider/inner-img/nhatban.jpg" alt="Inner Image" width="224px" height="204px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="parallax-with-content">
                                    <div class="slide-content">
                                        <span class="sub-title mb-3">Mẫu nội thất đẹp</span>
                                        
                                        
                                    </div>
                                    <div class="parallax-img-wrap">
                                        <div class="tomatoes">
                                            <div class="scene fill">
                                                <div class="expand-width" data-depth="0.5">
                                                    <img src="~/assetsuser/images/slider/inner-img/hiendai.jpg" alt="Inner Image" width="601px" height="534px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide animation-style-01">
                        <div class="slide-inner bg-height" data-bg-image="assetsuser/images/slider/bg/bg2.jpg">
                            <div class="parallax-img-wrap">
                                <div class="chilly">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.2">
                                            <img src="~/assetsuser/images/slider/inner-img/nhatban.jpg" alt="Inner Image" width="231px" height="210px">
                                        </div>
                                    </div>
                                </div>
                                <div class="avocado">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.5"> 
                                            <img src="~/assetsuser/images/slider/inner-img/hiendai.jpg" alt="Inner Image" width="224px" height="204px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="parallax-with-content">
                                    <div class="slide-content">
                                        <span class="sub-title mb-3">Mẫu nội thất đẹp</span>
                                       
                                    </div>
                                    <div class="parallax-img-wrap">
                                        <div class="tomatoes">
                                            <div class="scene fill">
                                                <div class="expand-width" data-depth="0.5">
                                                    <img src="~/assetsuser/images/slider/inner-img/nhaong.jpg" alt="Inner Image" width="601px" height="534px">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination with-bg d-md-none"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>
        <!-- Slider Area End Here -->



        <!-- Begin Product Area -->
        <div class="product-area section-space-top-100">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <!-- Product Area End Here -->

        <div class="product-area section-space-top-100">
            <div class="container">
              
            </div>
        </div>

        <!-- Begin Footer Area -->
        
        <div class="footer-area">
            <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="widget-item">
                                <div class="footer-logo pb-4">
                                    <a href="index.html">
                                        <img src="~/assetsuser/images/logo/songle.jpg" alt="Logo">
                                    </a>
                                </div>
                                <div class="widget-contact-info pb-6">
                                    <ul>
                                        <li>
                                            Địa chỉ: Thôn Yên Lạc 2 , Xã Cần Kiệm, Huyện Thạch Thất, Thành phố Hà Nội, Việt Nam
                                        </li>
                                        <li>
                                             Showroom: 85-87 Hoàng Quốc Việt, Nghĩa Đô, Cầu Giấy, Hà Nội
                                        </li>
                                        <li>
                                              Thời gian mở cửa: 8h00 - 19h00 kể cả thứ 7 và Chủ Nhật.
                                        </li>
                                        <li>
                                             Có vị trí đỗ xe ô tô
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="widget-item">
                                <h3 class="widget-title mb-5">Thông tin liên hệ</h3>
                                <ul class="widget-list-item">
                                    <li>
                                        <a href="javascript:void(0)">Điện thoại:0242.212.11.00</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Hotline:092.552.597</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Email:cskh@gmail.com</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Website:noithatsongle.com.vn</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="widget-item">
                                <h3 class="widget-title mb-5">Hỗ trợ khách hàng</h3>
                                <ul class="widget-list-item">
                                    <li>
                                        <a href="javascript:void(0)">Chính sách và quy định</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Chính sách bảo mật thông tin</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Phương thức thanh toán</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
            <div class="footer-bottom py-3" data-bg-color="#a36336">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright">
                                <span class="copyright-text text-white">© 2023 Song Lê Made with <i class="fa fa-heart text-danger"></i> by  <a href="https://hasthemes.com/" target="_blank">DAT</a> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Footer Area End Here -->

        <!-- Begin Scroll To Top -->
        <a class="scroll-to-top" href="">
            <i class="fa fa-chevron-up"></i>
        </a>
        <!-- Scroll To Top End Here -->

    </div>

    <!-- Global Vendor, plugins JS -->

    <!-- JS Files
    ============================================ -->
    <!-- Global Vendor, plugins JS -->

    <!-- Vendor JS -->
    <script src="~/assetsuser/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/assetsuser/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="~/assetsuser/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/assetsuser/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="~/assetsuser/js/vendor/jquery.waypoints.js"></script>

    <!--Plugins JS-->
    <script src="~/assetsuser/js/plugins/wow.min.js"></script>
    <script src="~/assetsuser/js/plugins/jquery-ui.min.js"></script>
    <script src="~/assetsuser/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/assetsuser/js/plugins/jquery.nice-select.js"></script>
    <script src="~/assetsuser/js/plugins/parallax.min.js"></script>
    <script src="~/assetsuser/js/plugins/jquery.magnific-popup.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <!--Main JS (Common Activation Codes)-->
    <script src="~/assetsuser/js/main.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        var siteController = new SiteController();
        siteController.initialize();
    </script>
    <script>
        $(document).ready(function () {
            $('#filter-shop1').val('@ViewBag.Category1')

            $("#search1").click(function () {
                debugger
                var categoryId = $("#filter-shop1 option:selected").val();
                var searchString = $("#searchString1").val();
                var min = $("#min").val();
                var max = $("#max").val();
                console.log('min' + 'max');
                console.log(max);
                if (Number(min) > Number(max)) {
                    Swal.fire('Giá không hợp lệ!Mời nhập lại!')
                }
                else {
                    location.href = '@Url.Action("ProductHome", "Home")' + '/?pageNumber=' + 1 + '&categoryId=' + categoryId + '&searchString=' + searchString + '&min=' + min + '&max=' + max;
                }
            });
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
     @await RenderSectionAsync("Scripts", required: false)
</body>

</html>