@using Project.Service.Interface
@using System.Globalization
@inject IProductService productService
@inject ICategoryService categoryService
@inject IDiscountService discountService
@{
    ViewData["Title"] = "Home Page";

    var list = productService.GetProduct(includeProperties: "Category.Discount");
    var listDiscount = discountService.GetDiscount();
    var listCategory = categoryService.GetCategory();
}

<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-12">
            <ul class="nav product-tab-nav pb-10" id="myTab" role="tablist" style="font-size:20px;font-weight:Bold">

                @foreach (var item in listCategory)
                {
                    <li class="nav-item" role="presentation">
                        <a id="fresh-fruits-tab" data-bs-toggle="tab" href="#fresh-fruits" role="tab" aria-controls="fresh-fruits" aria-selected="false">
                            @item.CategoryName
                        </a>
                    </li>
                    
                }
            </ul>
            <div class="row">
                @foreach (var item in list)
                {
                    if (item.DeleteAt == null)
                    {
                        <div class="glass col-lg-3 col-6 p-1 mb-3">
                            <div class="banner-item">
                                <div class="banner-img img-zoom-effect">

                                    <img src="~/img/@item.Thumb" class="img-full" alt="" width="290" height="300px">
                                    @if(item.Quantity==0){
                                        <div class="inner-content" style="top:10%;background-color:rgb(216, 216, 216)">
                                            <span class="offer" style="color:black">-Hết hàng</span>
                                        </div>
                                    }
                                    else if (item.Category.Discount.StartDate < DateTime.Now && item.Category.Discount.EndDate > DateTime.Now && item.Category.Discount.DiscountPrice != 0)
                                    {
                                        <div class="inner-content" style="top:10%;background-color:red">
                                            <span class="offer" style="color:white">-@(item.Category.Discount.DiscountPrice)%</span>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="glass_name" style="text-align:center;height:45px">
                                <a asp-action="Index" asp-controller="Product" asp-route-id="@item.Id">@item.ProductName</a>

                            </div>
                            <div>
                                @* @item.ListCategory*@
                            </div>

                            <div class="text-center">
                                @if (item.Category.Discount.StartDate < DateTime.Now && item.Category.Discount.EndDate > DateTime.Now && item.Category.Discount.DiscountPrice != 0)
                                {
                                    <span class="price">
                                        <del class="new-price text-danger" style="font-size:15px; margin-right:7px;">@item.Price.ToString("N00", new CultureInfo("en-us")) VNĐ</del>
                                    </span>
                                    <span style="color: #000; font-size: 20px; font-weight: 700;">
                                        @((Decimal.ToDouble(item.Price) - Decimal.ToDouble(item.Price) * (item.Category.Discount.DiscountPrice / 100)).ToString("N00", new CultureInfo("en-us"))) VNĐ
                                    </span>

                                }
                                else
                                {
                                    <span class="price" style="font-size: 20px; color: #000; font-weight: 700;">@item.Price.ToString("N00", new CultureInfo("en-us")) VNĐ</span>
                                }
                            </div>
                            <div class="text-center">
                                <a class="btn btn-primary" data-id="@item.Id">Thêm vào <i class="fa fa-shopping-cart"></i></a>

                            </div>


                        </div>
                    }


                }
            </div>
        </div>
    </div>
</div>




