@using Project.Service.Interface
@using System.Globalization

@model Project.ViewModel.ProductDTO
@inject ICategoryService CategoryService
@inject IReviewService reviewService

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model.Id;
    var list = CategoryService.GetByCategoryId(Model.CategoryId);
    var listReview = reviewService.GetReview(filter: p => p.ReviewDetail != null && p.ProductId == id, includeProperties: "User");

}
@section scripts{
    <script src="~/js/cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.initialize();
        $(document).ready(function () {
            $("#addReview").click(function () {
                debugger
               
                var review = $("#review").val();
                if (review == '') {
                    Swal.fire('Bạn chưa nhập nội dung')
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AddReview", "Product")',
                        data: { review: review, id: @Model.Id },
                        //dataType: "json",
                        //contentType: "application/json;charset=utf-8",
                        success: function (response) {
                            if (!response.result) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: response.mess,
                                    
                                })
                            }
                            else {
                                if (response.result == "ok") {
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'success',
                                        title: ' Thêm nhận xét thành công',
                                        showConfirmButton: false,
                                        timer: 2500
                                    });
                                    setTimeout(() => location.href = '@Url.Action("Index", "Product")', 2500);
                                }
                                if(response.result=="oke"){
                                    Swal.fire({
                                        position: 'top-end',
                                        icon: 'success',
                                        title: ' Sửa nhận xét thành công',
                                        showConfirmButton: false,
                                        timer: 2500
                                    });
                                    setTimeout(() => location.href = '@Url.Action("Index", "Product")', 2500);
                                }
                                
                            }
                        }
                    });
                }
            })
        });
    </script>
}
<h1>Chi tiết sản phẩm</h1>
<div class="single-product-area section-space-top-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-product-img h-100">
                    <div class="swiper-container single-product-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                    <img class="img-full" alt="Product Image" src="~/img/@Model.Thumb" width="250" />
                            </div>
                           
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-thumb-with-content row">
                    <div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0">
                        <div class="single-product-content">
                            <h2 class="title">@Model.ProductName</h2>
                            <div class="price-box pb-1">
                                <span class="new-price text-danger">@Model.Price.ToString("N00", new CultureInfo("en-us")) VNĐ</span>
                                
                            </div>
                            <div class="rating-box-wrap pb-7">
                                <div class="review-status ps-4">
                                    
                                </div>
                            </div>
                            <p class="short-desc mb-6">
                                @Model.ProductDetail
                            </p>
                           
                                <div class="quantity-with-btn pb-7">
                                    <input type="number" id="tentacles" name="tentacles" min="1" value="1">
                                    <a class="btn btn-primary" data-id="@Model.Id" data-quantity="@Model.Quantity">Thêm vào <i class="fa fa-shopping-cart"></i></a>
                                </div>
                            
                            <div class="product-category text-matterhorn pb-2">
                                <span class="title">Danh mục : @list.CategoryName</span>
                                
                            </div>
                            
                            <div class="social-link align-items-center pb-lg-8">
                                <span class="title pe-3">Chia sẻ:</span>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-pinterest-p"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-tumblr"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="tabs">
        <div class="tab-2">
            @*<label for="tab2-1">Đánh giá sản phẩm</label>
            <input id="tab2-1" name="tabs-two" type="radio" checked="checked">*@
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            @foreach (var item in listReview)
                            {
                                <div class="comment-widgets m-b-20">
                                    <div class="d-flex flex-row comment-row">
                                        <div class="p-2">
                                            <span class="round">
                                                <img src="https://i.imgur.com/cAdLHeY.jpg" alt="user"
                                                 width="50">
                                            </span>
                                        </div>
                                        <div class="comment-text w-100">
                                            <h5>@item.User.UserName</h5>
                                            <div class="comment-footer">
                                                <div class="date">@item.CreateAt.ToString("dd/MM/yyyy")</div>
                                            </div>
                                            <p class="m-b-5 m-t-10">
                                                @item.ReviewDetail
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-2">
            <label for="tab2-2">Viết Đánh Giá Sản Phẩm</label>
            <@*input id="tab2-2" name="tabs-two" type="radio">*@
            <div>
                <div class="form-check">
                <input type="hidden" class="form-check-input" id="datetime">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="review" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info" id="addReview">Comment</button>
                </div>
            </div>
        </div>

    </div>
</div>
