@using Project.Service
@model PagedResult<Project.ViewModel.CategoryDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách danh mục</h6>
    </div>
    <div class="card-body">
        <a asp-action="Create" asp-controller="Category" asp-area="Admin" class="btn btn-success mb-4">Thêm danh mục mới</a>
        <div class="mb-3">
            <form class="d-flex justify-content-end">
              
                <input type="text" class="form-control w-35 mr-3" id="searchString" placeholder="Tìm kiếm theo tên danh mục" value="@ViewBag.SearchString">
                <input type="button" class="form-control w-30 btn btn-info" id="search" value="Tìm kiếm">
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên danh mục</th>
                        <th>Tên chương trình khuyến mại</th>
                        <th>Ngày tạo</th>
                        <th>Ngày sửa</th>
                        
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        if (item.DeleteAt == null)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Index" asp-controller="Product" asp-area="Admin" asp-route-CategoryId="@item.Id">@item.CategoryName</a>
                                </td>
                                <td>@item.Discount.Name</td>
                               
                                <td>@item.CreateAt.ToString("dd/MM/yyyy")</td>
                                <td>@item.UpdateAt?.ToString("dd/MM/yyyy")</td>
                               
                                <td>
                                    <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id" class="btn btn-info"><i class="far fa-edit"></i></a>
                                    <a data-id="@item.Id"  class="btn btn-danger delete"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                        

                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        @if (Model.TotalItem > 0 && Model.TotalPages > 1)
        {
            <ul class="pagination justify-content-center">
                @if (Model.PageNumber > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Category" asp-action="Index" asp-route-pageNumber="1">Fisrt</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Category" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber-1)">Previous</a>
                    </li>
                }

                @for (var j = Model.StartPage; j <= Model.EndPage; j++)
                {
                    <li class="page-item @(j==Model.PageNumber ? "active" : "")">
                        <a class="page-link" asp-controller="Category" asp-action="Index" asp-route-pageNumber="@j">@j</a>
                    </li>
                }

                @if (Model.PageNumber < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Category" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber+1)">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Category" asp-action="Index" asp-route-pageNumber="@Model.TotalPages">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function(){
            $(".delete").click(function(){
                var id = $(this).data('id');
                var r = confirm("Ban co chac chan muon xoa khong?");
                if (r == true) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","Category")',
                        data: { id: id },
                        success: function (res) {
                            if (res.result) {
                                setTimeout(() => location.href = '@Url.Action("Index", "Category", "Admin")', 1000)
                            }
                            else {
                                alert("There is a problem,Try later!");
                            }
                        }

                    });
                }
            })
            $("#search").click(function () {
                console.log("haha");
                var del = $("#filter-delete option:selected").val();
                var searchString = $("#searchString").val();
                location.href = '@Url.Action("Index", "Category")' + '/?pageNumber=' + 1 + '&delete=' + del + '&searchString=' + searchString;

            })
        });
    </script>
}
