@using Project.Service
@using Project.Service.Interface

@model PagedResult<Project.ViewModel.ProductDTO>
@inject ICategoryService categoryService
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    //var id = Model.Data.Id;
    //var list = categoryService.GetByCategoryId();
    
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h6>
    </div>
    <div class="card-body">
        <a asp-action="Create" asp-controller="Product" asp-area="Admin" class="btn btn-success mb-4">Thêm mới sản phẩmt</a>
        <div class="mb-3">
            <form class="d-flex justify-content-end">
                <select class="form-control mr-3 w-30" id="filter-by-trending">
                    <option value="">Filter Theo Trending</option>
                    <option value="true">Trending</option>
                    <option value="false">Not Trending</option>
                </select>
                <select class="form-control w-32 mr-3" id="filter-delete">
                    <option value="">Filter Trạng Thái Xóa</option>
                    <option value="true">Đã Xóa</option>
                    <option value="false">Chưa Xóa</option>
                </select>
                <input type="text" class="form-control w-35 mr-3" id="searchString" placeholder="Tìm kiếm theo ProductName" value="@ViewBag.SearchString">
                <input type="button" class="form-control w-30 btn btn-info" id="search" value="Filter">
            </form>
        </div>
        <div style="width: 100%">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh minh họa</th>
                        <th>Số lượng</th>
                        <th>Tên danh mục</th>
                        <th>Trending</th>
                        <th>View</th>
                        
                        <th>Đơn giá</th>
                        <th>Ngày tạo</th>
                        <th>Ngày sửa</th>
                        <th>Ngày xóa</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        if (item.DeleteAt == null)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>
                                    <img src="~/img/@item.Thumb" width="120px" />
                                    @*<img src="~/img/@item.Thumb" width="100px" />*@
                                    @* <a class="btn btn-primary" asp-area="Admin" asp-action="Image" asp-controller="Product" asp-route-id="@item.Id">Ảnh</a>*@
                                </td>
                                <td>@item.Quantity</td>
                                <td>@item.Category.CategoryName</td>
                                <td>@item.Trend</td>
                                <td>@item.View</td>
                                <td>@item.CategoryId</td>
                                <td>@item.Price</td>
                                @*<td>
                                    @if (item.discount_start < DateTime.Now && item.discount_end > DateTime.Now)
                                    {
                                        <div>
                                            <span class="text-secondary"><del>@item.price.ToString("#,0₫", culture.NumberFormat)</del></span>
                                        </div>
                                        <div>
                                            <span style="color: #005ec4;">@((item.price - item.discount_price).ToString("#,0₫", culture.NumberFormat))</span>
                                        </div>
                                        price2 = (item.price - item.discount_price).ToString("#,0₫", culture.NumberFormat);
                                        discountPrice2 = item.price.ToString("#,0₫", culture.NumberFormat);
                                    }
                                    else
                                    {
                                        <div>
                                            <span style="color: #005ec4;">@item.price.ToString("#,0₫", culture.NumberFormat)</span>
                                        </div>
                                        price2 = item.price.ToString("#,0₫", culture.NumberFormat);
                                    }
                                </td>*@
                                <td>@item.CreateAt.ToString("dd/MM/yyyy")</td>
                                <td>@item.UpdateAt?.ToString("dd/MM/yyyy")</td>
                                <td>@item.DeleteAt?.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-info m-2"><i class="far fa-edit"></i></a>
                                    <a data-id="@item.Id" class="btn btn-danger delete"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="bg-secondary text-warning">
                                <td>@item.ProductName</td>
                                <td>
                                    <img src="~/img/@item.Thumb" width="100px" />
                                </td>
                                <td>@item.Slug</td>
                                <td>@item.Trend</td>
                                <th>@item.View</th>
                                
                                <td>@item.Price</td>
                                <td>@item.CreateAt.ToString("dd/MM/yyyy")</td>
                                <td>@item.UpdateAt?.ToString("dd/MM/yyyy")</td>
                                <td>@item.DeleteAt?.ToString("dd/MM/yyyy")</td>
                                <td>
                                    Deleted
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        @if (Model.TotalItem > 0 && Model.TotalPages > 1)
        {
            <ul class="pagination justify-content-center">
                @if (Model.PageNumber > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageNumber="1">Fisrt</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber-1)">Previous</a>
                    </li>
                }

                @for (var j = Model.StartPage; j <= Model.EndPage; j++)
                {
                    <li class="page-item @(j==Model.PageNumber ? "active" : "")">
                        <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageNumber="@j">@j</a>
                    </li>
                }

                @if (Model.PageNumber < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber+1)">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pageNumber="@Model.TotalPages">Last</a>
                    </li>
                }
            </ul>
        }
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(".delete").click(function(){
                
                var id=$(this).data('id');
                var r = confirm("Ban co chac chan muon xoa khong?");
                if (r == true) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","Product")',
                        data: { id: id },
                        success: function (res) {
                            if (res.result) {
                                setTimeout(() => location.href = '@Url.Action("Index", "Product", "Admin")', 1000)
                            }
                            else {
                                alert("There is a problem,Try later!");
                            }
                        }

                    });
                }
            })
            });


    </script>
}


